<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/50931edc-1ed6-4b88-b85a-9d0e75277fd4/resourceGroups/ClothesGroup/providers/Microsoft.Web/sites/CosmoRazor</ResourceId>
    <ResourceGroup>ClothesGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://cosmorazor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c96b12aa-5534-41cb-8e61-125da5ca9630</ProjectGuid>
    <PublishUrl>https://cosmorazor.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CosmoRazor</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>